# [dependencies]
node_modules/
.pnpm-store/
.yarn/
package-lock.json
yarn.lock

# [build output]
dist/
build/
.out/
.next/
.cache/
.vercel/
.tmp/

# [env & secrets]
.env
.env.*
*.local
serviceAccount*.json
firebase-debug.log

# [IDE, OS, logs]
.DS_Store
*.log
.vscode/
